
.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 10px; 
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}